@import "./variables";
#chart {
  padding: 32px;
  border-radius: 24px;
  box-shadow: $global-shadow;

  .chart-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .el-select {
      float: right;

      input {
        width: 200px;
        height: 56px;
        border-radius: 16px;
        background: #e4e4e44d;
        padding: 18px 0px 18px 23px;
        font-family: 'Inter';
        font-weight: 600;
        box-shadow: 0px 0px 5px #e7e7e7;
        border: none;
        &::placeholder {
          font-size: 14px;
          color: #a9a9ab;
        }

        &:focus {
          box-shadow: $global-shadow;
        }
      }

      .el-input__suffix {
        .el-input__suffix-inner {
          margin-right: 10px;

          i {
            font-size: 18px;
            font-weight: 600;
            color: #1B1D21;
          }
        }

      }
    }
  }

  .chart-board {
    margin-top: 45px;
  }
}
#loading-comparison{
  background: #ffffff;
  border-radius: 24px;
  margin: 35px;
  //box-shadow: $global-shadow;
  height: 330px;
  display: flex;
}
